.container {
  width: 90vw !important;
  margin: 0px auto !important;
  display: grid;
  gap: 1.5rem;
}
.section{
  padding: 4rem 0 1rem 0;
}
.svg__img{
    width: 300px;
    justify-self: center;
  }
  
