@media screen and (min-width: 576px) {
  .home {
    padding-top: 10rem;
    &__container {
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
    &__img {
      order: 1;
    }
  }
  .about {
    &__container {
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
    &__img {
      order: -1;
      width: 100%;
    }
    &__info {
      text-align: right;
    }
  }
  .support {
    &__container {
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
    &__info {
      text-align: right;
    }
    &__img {
      width: 100%;
    }
  }
  .services {
    &__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      column-gap: 1rem;
    }
  }
  .app {
    &__container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      column-gap: 1rem;
    }
    &__img {
      order: -1;
      width: 100%;
    }
    &__info {
      text-align: right;
    }
    &__title {
      text-align: right;
    }
  }

  .contact {
    &__container {
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
    &__title {
      text-align: start;
    }
    &__description {
      text-align: start;
    }
    &__button {
      text-align: start;
    }
  }
}

@media screen and (min-width: 768px) {
  .nav {
    &__list {
      flex-direction: row;
      column-gap: 2.5rem;
    }
    &__toggle {
      display: none;
    }
  }
  .contact {
    &__container {
      grid-template-columns: 3fr 1.5fr 1.25fr;
      align-items: center;
    }
    &__title {
      text-align: start;
    }
    &__description {
      text-align: start;
    }
    &__button {
      text-align: start;
    }
  }
  .footer {
    &__container {
      grid-template-columns: repeat(5, 1fr);
    }
    &__social-link {
      margin-right: 0.5rem;
      margin-left: 0.5rem;
    }
  }
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .svg__img {
    width: 400px;
  }
  .button__header {
    display: block;
    padding: 0.5rem 1rem;
  }
  .services {
    &__container {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1rem;
    }
  }
}
